<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
	$(function(){
		$("#error1").hide();
		$("#error2").hide();
		$("#error3").hide();
		$("#error4").hide();
		$("#error5").hide();
		$("#error6").hide();
		$(".shigotoform").submit(function(){
			if($("#iraibango").val()==null||$("#iraibango").val()==""){
				$("#error1").show();
				$("#iraibango").focus();
				alert($("#iraibango").val());
				return false;
			}
			
			if($("#kaisyamei").val()==null||$("#kaisyamei").val()==""){
				alert("会社名を入力してください")
				$("#error1").hide();
				$("#error2").show();
				$("#kaisyamei").focus();
				return false;
			}
			if($("#title").val()==null||$("#title").val()==""){
				$("#error2").hide();
				$("#error3").show();
				$("#title").focus();
				return false;
			}
			if($("#kakoujouhou").val()==null||$("#kakoujouhou").val()=="none"){
				$("#error3").hide();
				$("#error4").show();
				
				return false;
			}
			if($("#shurui").val()==null||$("#shurui").val()==""){
				$("#error4").hide();
				$("#error5").show();
				$("#shurui").focus();
				return false;
			}
			if($("#maisu").val()==null||$("#maisu").val()==""){
				$("#error5").hide();
				$("#error6").show();
				$("#maisu").focus();
				return false;
			}else{
				return true;
			}

		
		});
	});
</script>
</head>
<body>
	<form action="/touroku" method="post" name="shigotoform" class="shigotoform">
		<div>
		<span class="Label">作業番号:</span>
		<input type="text" id="iraibango" name="iraibango">
		<span id="error1" style="color:blue;">作業番号を入力してください</span>
		<br/>
		</div>
		<div>
			<span class="label2">会社名</span>
			<input type="text" id="kaisyamei" name="kaisyamei">
			<span id="error2" style="color:blue;">会社名を入力してください</span>
			<br/>
		</div>
		<div>
		<span class="label3">品名:</span>
		<input type="text" id="title" name="title">
		<span id="error3" style="color:blue;">品名を入力してください</span>
		
		
		<br/>
		</div>
		<div>
		<span class="label4">加工情報</span>
		：<select id="kakoujouhou" name="kakoujouhou">
				<option value="none">=====選択してください=====</option>
				<option value="化粧断裁">化粧断裁</option>
				<option value="刷本納品">刷本納品</option>
				<option value="穴あけ">穴あけ</option>
				<option value="スジ押し">スジ押し</option>
				<option value="ジャンプミシン">ジャンプミシン</option>
				<option value="角R">角R</option>
				<option value="パウチ100ミクロン">パウチ100ミクロン</option>
				<option value="パウチ150ミクロン">パウチ150ミクロン</option>
				<option value="2つ折り">2つ折り</option>
				<option value="3つ折り">3つ折り</option>
				<option value="十文字折り">十文字折り</option>
				<option value="ジャバラ山">ジャバラ山</option>
				<option value="クリミ製本">クリミ製本</option>
				<option value="ブロックリック製本">ブロックリック製本</option>
				<option value="ツインループ">ツインループ</option>
				<option value="デジシルク">デジシルク</option>
				<option value="クリアPP">クリアPP</option>
				<option value="マットPP">マットPP</option>
			</select>
			<span id="error4" style="color:red;">加工情報を選択してください。</span>
			</div>
			<br/>
		<div>
		<span class="label5">種類:</span>	
		<input type="text" id="shurui"  name="shurui">
		<span id="error5" style="color:red;">種類を入力してください。</span>
		</div>
		<br/>
		<div>
		<span class="label6">枚数：</span>
		<input type="text" id="maisu" name="maisu">
		<span id="error6" style="color:red;">枚数を入力してください</span>
		</div>
		
		<br/>
		出荷日:<input type="date" id="shukkabi" name="shukkabi">
				<script>
				document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);
				</script>
				
		<br/>
		作業者：<select name="sagyousya" id="sagyousya">
			<option value="佐藤千鶴">佐藤千鶴（ゴジラ）</option>
			<option value="利部亜希子">利部亜希子（コチュ）</option>
			<option value="鮎澤香織">鮎澤香織（морщинистая бабушка）</option>
			<option value="内田">内田</option>
			<option value="畠山将伸">畠山将伸（ロリコン）</option>
			<option value="大久保友美">大久保友美（偉そう）</option>
			<option value="今村卓也">今村卓也（猪八戒）</option>
			<option value="佐藤秀美">佐藤秀美（страшная девушка）</option>
			<option value="青柳もえ">青柳もえ（老け顔）</option>
			<option value="チェ・ソン">チェ・ソン</option>
			<option value="諸杉雄大">諸杉雄大</option>
			<option value="川平修">川平修</option>
			<option value="その他">その他</option>
		</select><br/>
		<input type="submit" value="登録">
	</form>
	<a href = "/podlist">リストを見る</a>
	<a href = "/podkaiinform">POD社員登録</a>
</body>
</html>