<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="/podsyaininsert" method="post" id="kaiintouroku" name="kaiintouroku">
	id:<input type="text" id="id" name="id"><br/>
	パスワード:<input type="password" id="pw" name="pw"><br/>
	名前:<input type="text" id="name" name="name"><br/>	
	<input type="submit" id="kaiin" name="kaiin" value="会員登録">
	</form>
	<a href="/log">ログインページへ</a>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="js/kaiin.js"></script>
</body>
</html>